.nav{
    float: left;
    margin-top: 2%;
    border-style: none;
    width: 11%;
    margin-left: 1%;
    height: 550px;
    
}
a{
    text-decoration: none;
    
}
ul#left{
    list-style-type: none;
    margin-left: 0%;
}
li#li{
    float: left;
}